*:not(body):not(html) {
box-sizing: border-box;
/*border: 1px dashed #000;*/
}

* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  color: #fff;
}

#left div {
  background-color: #0D47A1;
}

#right div {
  background-color: #009688;
}

h2 {
  font-weight: lighter;
  font-size: 1.35em;
}

#header, #leftpic, #rightpic {
  position: relative;
  overflow: hidden;
}

#header {
background-color: rgba(125, 206, 160, 0.5);
}

#left {
  background-color: rgba(210, 180, 222, 0.5);
}

#right {
  background-color: rgba(241, 148, 138, 0.5);
}

a {
  text-decoration: none;
  color: #D3D6D7;
}

#header img, #leftpic img, #rightpic img {
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

#header img:hover, #leftpic img:hover, #rightpic img:hover {
    transform: scale(1.1);
}

/*#header {
 background-image: url(../img/rooftop.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
}*/

/*#leftpic {
  background-image: url(../img/hike.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}*/

#header img, #leftpic img, #rightpic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#leftpic:hover, #rightpic:hover {
  background-position:
}


@media only screen and (max-width: 3000px) {

  #header {
    height: 480px;
    width: 65%;
    float: left;
    position: relative;
  }

  #header div {
    height: 280px;
    width: 300px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    background-color: #263238;
  }

  #leftright {
    width: 28%;
    float: left;
    overflow: auto;
    height: 480px;
  }

  #left, #right {
    max-width: 100%;
    height: 240px;
  }

  /*#left img, #right img {
    width: 100%;
    float: left;
  }*/

  #left div, #right div {
    display: inline-block;
  }

  #leftpic, #rightpic {
    width: 100%;
    height: 60%;
  }
  .textbox {
    height: 40%;
    margin-top: -4px;
  }
}

@media only screen and (max-width: 1100px) {
  #leftright {
    width: 100%;
    margin-left: 0;
    height: 245px;
  }

  #header {
    width: 100%;
    height: 400px;
  }

  #left, #right {
    width: 50%;
    display: inline-block;
    height: 245px;
  }

  #right {
    float: right;
  }
}

@media only screen and (max-width: 730px) {
  #header {
    width: 100%;
    display: inline-block;
  }

  #header div {
    height: auto;
    width: auto;
    bottom: 15px;
    left: 15px;
    margin-right: 15px;
  }

  #header div h1 {
    font-size: 1.2em;
  }

  #left, #right {
    width: 100%;
    margin-left: 0;
    height: 125px;
  }

  #leftpic, #rightpic {
    float: left;
    margin: 0;
    width: 30%;
    height: 100%;
    max-height: 125px;
  }

  .textbox {
    height: 100%;
    min-height: 125px;
    width: 70%;
    margin-top: 0;
  }

  #leftright {
    width: 100%;
    margin-left: 0;
  }
}
